{% extends 'master.html' %}

{% block title %}
Mauritius Emergency Services
{% endblock %}

{% block meta %}
<meta content="" name="description">
<meta content="" name="keywords">
{% endblock %}

{% block body %}

<section id="privacy" class="d-flex align-items-center">

    <div class="container d-flex flex-column justify-content-center" data-aos="fade-up">

        <div class="privacy-separator">
            <h3>Privacy</h3>
            <p>This software does not collect, use or share any personal information of you or your stored data.</p>
        </div>

        <div class="privacy-separator">
            <h3>User Data</h3>
            <p>
                No user data is collected, store online or shared to anyone.
            </p>
        </div>

        <div class="privacy-separator">
            <h3>Disclaimer</h3>
            <p>
                The user acknowledges that the software may not be free from defects and may not satisfy all needs.
                Installation and usage of the software is at users own risk. The user is responsible for any possible
                data loss.
                In no event will the application owner be held liable for any damages arising from the use of or
                inability to the use the software.
            </p>
        </div>

        <div class="privacy-separator">
            <h3>Copyright</h3>
            <p>
                This software is owned by Mervin Hemaraju. You are not allowed to modify, translate or decompile the
                software or even attempt to derive source code or create derivative works.
            </p>
        </div>

        <div class="privacy-separator">
            <h3>Legal</h3>
            <p>
                All product names, logos and brands are property of their respective owners. All company, product and
                service names used in this application are for identification purposes only. Use of these names, logos
                and
                brands does not imply endorsement.
            </p>
        </div>

    </div>

</section>

{% endblock %}