{% extends 'master.html' %}

{% block title %}
Mauritius Emergency Services
{% endblock %}

{% block meta %}
<meta content="" name="description">
<meta content="" name="keywords">
{% endblock %}

{% block body %}

<section id="disclaimer" class="d-flex align-items-center">

    <div class="container d-flex flex-column justify-content-center" data-aos="fade-up">

        <div class="privacy-separator">
            <h2 class="subtitle">Interpretation and Definitions</h2>
            <br>
            <h4>Interpretation</h4>

            <p>
                The words of which the initial letter is capitalized have meanings defined under the following
                conditions.
                The following definitions shall have the same meaning regardless of whether they appear in singular or
                in plural.
            </p>

            <br>

            <h4>Definitions</h4>
            <p>
                For the purposes of this Disclaimer:

                <ul>
                    <li>
                        <b>Company</b> (referred to as either "the Company", "We", "Us" or "Our" in this Disclaimer)
                        refers to
                        Mauritius Emergency Services.
                    </li>

                    <li>
                        <b>Service</b> refers to the Application.
                    </li>

                    <li>
                        <b>You</b> means the individual accessing the Service, or the company, or other legal entity on
                        behalf of which such individual is accessing or using the Service, as applicable.
                    </li>

                    <li>
                        <b>Application</b> means the software program provided by the Company downloaded by You on any
                        electronic
                        device named Mauritius Emergency Services.
                    </li>

                    <li>
                        <b>Country</b> refers to: Mauritius
                    </li>
                </ul>
            </p>
        </div>

        <div class="privacy-separator">
            <h2 class="subtitle">Privacy Policy</h2>
            <p>Last updated: February 03, 2023</p>
        </div>

        <div class="privacy-separator">
            <h4>Privacy</h4>
            <p>This software does not collect, use or share any personal information of you or your stored data.</p>
        </div>

        <div class="privacy-separator">
            <h4>User Data</h4>
            <p>
                No user data is collected, store online or shared to anyone.
            </p>
        </div>

        <div class="privacy-separator">
            <h4>External Links</h4>
            <p>
                Our Service may contain links to other websites that are not operated by Us. If You click on a third
                party link, You will be directed to that third party's site. We strongly advise You to review the
                Privacy Policy of every site You visit.

                We have no control over and assume no responsibility for the content, privacy policies or practices of
                any third party sites or services.
            </p>
        </div>

        <div class="privacy-separator">
            <h4>Copyright</h4>
            <p>
                This software is owned by Mervin Hemaraju. You are not allowed to modify, translate or decompile the
                software or even attempt to derive source code or create derivative works.
            </p>
        </div>

        <div class="privacy-separator">
            <h4>Changes to this Privacy Policy</h4>
            <p>
                We may update Our Privacy Policy from time to time. We will notify You of any changes by posting the new
                Privacy Policy on this page.

                You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy
                Policy are effective when they are posted on this page.
            </p>
        </div>

        <div class="privacy-separator">
            <h2 class="subtitle">Disclaimer</h2>
            <p>Last updated: February 03, 2023</p>
        </div>

        <div class="privacy-separator">
            <h4>Disclaimer</h4>
            <p>
                The information contained on the Service is for general information purposes only.

                The Company assumes no responsibility for errors or omissions in the contents of the Service.

                In no event shall the Company be liable for any special, direct, indirect, consequential, or incidental
                damages or any damages whatsoever, whether in an action of contract, negligence or other tort, arising
                out of or in connection with the use of the Service or the contents of the Service. The Company reserves
                the right to make additions, deletions, or modifications to the contents on the Service at any time
                without prior notice.

                The Application gets its resources from an API built by the Company itself using resources available to
                the
                general public via the internet.

                The Company and the Application is <b>NOT</b> managed, owned or affialiated by any Government entities.
            </p>
        </div>

        <div class="privacy-separator">
            <h4>External Links</h4>
            <p>
                The Service may contain links to external websites that are not provided or maintained by or in any way
                affiliated with the Company.

                Please note that the Company does not guarantee the accuracy, relevance, timeliness, or completeness of
                any information on these external websites.
            </p>
        </div>

        <div class="privacy-separator">
            <h4>Errors & Ommissions</h4>
            <p>
                The information given by the Service is for general guidance on matters of interest only. Even if the
                Company takes every precaution to insure that the content of the Service is both current and accurate,
                errors can occur.

                The Company is not responsible for any errors or omissions, or for the results obtained from the use of
                this information.
            </p>
        </div>

        <div class="privacy-separator">
            <h4>No Responsibility</h4>
            <p>
                The information on the Service is provided with the understanding that the Company is not herein engaged
                in rendering legal, accounting, tax, or other professional advice and services. As such, it should not
                be used as a substitute for consultation with professional accounting, tax, legal or other competent
                advisers.

                In no event shall the Company or its suppliers be liable for any special, incidental, indirect, or
                consequential damages whatsoever arising out of or in connection with your access or use or inability to
                access or use the Service.
            </p>
        </div>

        <div class="privacy-separator">
            <h4>Use at your own Risk</h4>
            <p>
                All information in the Service is provided "as is", with no guarantee of completeness, accuracy,
                timeliness or of the results obtained from the use of this information, and without warranty of any
                kind, express or implied, including, but not limited to warranties of performance, merchantability and
                fitness for a particular purpose.

                The Company will not be liable to You or anyone else for any decision made or action taken in reliance
                on the information given by the Service or for any consequential, special or similar damages, even if
                advised of the possibility of such damages.
            </p>
        </div>

        <div class="privacy-separator">
            <h4>Contact Us</h4>
            <p>
                If you have any questions about the Privacy Policy & Disclaimer, You can contact us
                <a href="../#contact">here</a>
            </p>
        </div>

    </div>

</section>

{% endblock %}